Repository dannytsang/homeassistant-config, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, docs, custom-components, esphome, frontend

Added coded owners.
  .github/CODEOWNERS
Labels: ci

Replaced Kettle so swapped out the Shelly with a Zigbee plug.
  packages/rooms/kitchen.yaml
Labels: none

Removed kettle switch from scripts
  packages/home.yaml
Labels: none

Ensure dev cannot cancel beta runs.
  .github/workflows/_ha-validate.yml
Labels: ci

Added job summary.
  .github/workflows/_ha-validate.yml
Labels: ci

Added ID for summary.
  .github/workflows/_ha-validate.yml
Labels: ci

Added manual trigger to main job.
  .github/workflows/main.yml
Labels: ci

Reduced stale run to daily.
  .github/workflows/stale.yml
Labels: ci

Add label exceptions and summary.
  .github/workflows/stale.yml
Labels: ci

Added gates for failed jobs and / or failed tailscale connection.
  .github/workflows/main.yml
Labels: ci

Reordered Restart ESP name and description.
  scripts.yaml
Labels: frontend

Added exclusion domains so it's not recorded to DB.
  configuration.yaml
  packages/home_assistant.yaml
Labels: none

Bump Alexa Media integration version.
  custom_components/alexa_media/const.py
Labels: custom-components

Add zigbee and Shelly for more durable action.
  packages/rooms/bedroom.yaml
Labels: none

Added custom components to build path.
  .github/workflows/main.yml
Labels: ci

Added .lock files to ignore.
  .gitignore
Labels: none

Updated statistics for 2025.10.
  README.md
  statistics.md
Labels: docs

Replace RSS for weather warning with N8N.
  packages/integrations/weather/weather.yaml
  secrets.yaml.sample
Labels: none

Created a kettle boiled notification.
  packages/rooms/kitchen.yaml
Labels: none

Removed Feedparser integration.
  custom_components/feedparser/__init__.py
  custom_components/feedparser/sensor.py
Labels: custom-components

Replaced RSS weather warning with n8n version.
  packages/integrations/weather/weather.yaml
Labels: none

Moved data to after target.
  packages/rooms/office.yaml
Labels: none

Added time trigger to oven running template sensor.
  packages/rooms/kitchen.yaml
Labels: none

Converted conservatory lights to use timers.
  packages/rooms/conservatory.yaml
Labels: none

Reduced timer to one minute.
  packages/rooms/conservatory.yaml
Labels: none

Converted living room lamps to timers.
  packages/rooms/living_room.yaml
Labels: none

Convert kitchen motion to timers.
  packages/rooms/kitchen.yaml
Labels: none

Renamed bathroom light timer inline with others.
  packages/rooms/bathroom.yaml
Labels: none

Converted utility room to use timers.
  packages/rooms/utility.yaml
Labels: none

Renamed bathroom light timer.
  packages/rooms/bathroom.yaml
Labels: none

Reverted ESPHome install to previous commands to fix missing requirements.txt error.
  .github/workflows/_ha-validate.yml
Labels: ci

Changed oven running to state based template sensor.
  packages/rooms/kitchen.yaml
Labels: none

Added priority and global quiet time to direct notifications.
  packages/integrations/messaging/notifications.yaml
Labels: none

Attempt 2 to fix ESPHome Python dependency error.
  .github/workflows/_ha-validate.yml
Labels: ci

Added Alexa Media manifest file.
  custom_components/alexa_media/manifest.json
Labels: custom-components

Removed HACS checks because it's more for repo owners.
  .github/workflows/_ha-validate.yml
  .github/workflows/main.yml
Labels: ci

Missed removing HACS validation from pull action.
  .github/workflows/pull.yml
Labels: ci

Added per job timeout and permissions where it did not exist.
  .github/workflows/_ha-validate.yml
  .github/workflows/main.yml
Labels: ci

Added summary to remarklint.
  .github/workflows/_ha-validate.yml
Labels: ci

Fix incorrect timeout parameter in validate.
  .github/workflows/main.yml
Labels: ci

.github/labeler.yml:

ci:
  - ".github/**"

docs:
  - "**/*.md"

custom-components:
  - "custom_components/**"

esphome:
  - "esphome/**"

frontend:
  - "automations.yaml"
  - "scripts.yaml"
  - "scenes.yaml"
