Repository dannytsang/homeassistant-config, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, docs, custom-components, esphome, frontend

Made actionlint optional and not prevent deployment.
  .github/workflows/_ha-validate.yml
Labels: ci

Updated run name to prevent duplicate run names for easier identification.
  .github/workflows/main.yml
Labels: ci

YAMLint fixees.
  .github/workflows/labeler.yml
  .github/workflows/stale.yml
  packages/rooms/living_room.yaml
Labels: ci

Added missing new line for linting.
  .github/workflows/_ha-validate.yml
Labels: ci

Removed quotes on numeric conditions and triggers.
  packages/rooms/office.yaml
Labels: none

Removed quotes on numbers.
  automations.yaml
  packages/integrations/cleaning.yaml
  packages/integrations/energy/ecoflow.yaml
  packages/integrations/energy/energy.yaml
  packages/integrations/messaging/notifications.yaml
  packages/integrations/octoprint.yaml
  packages/integrations/transport/tesla.yaml
  packages/rooms/bathroom.yaml
  packages/rooms/bedroom.yaml
  packages/rooms/conservatory.yaml
  packages/rooms/kitchen.yaml
  packages/rooms/living_room.yaml
  packages/rooms/porch.yaml
  packages/rooms/stairs.yaml
  packages/rooms/utility.yaml
  packages/tracker.yaml
Labels: frontend

Try sub directories for rooms and split the files up to smaller ones.
  packages/rooms/office/office.yaml
Labels: none

Split office package into smaller, separate files.
  packages/rooms/office/office.yaml
  packages/rooms/office/office_scenes.yaml
  packages/rooms/office/office_sensors.yaml
  packages/rooms/office/office_sripts.yaml
Labels: none

Renamed office package to automations only.
  packages/rooms/office/office_automations.yaml
Labels: none

Added emoji for front and back garden.
  packages/rooms/back_garden.yaml
  packages/rooms/front_garden.yaml
Labels: none

Remove empty property
  packages/rooms/bathroom.yaml
Labels: none

Created bedroom folder. Also moved clock into the same folder.
  packages/rooms/bedroom/awtrix_light.yaml
  packages/rooms/bedroom/bedroom.yaml
Labels: none

Replaced fountain with laundry basket emoji.
  packages/rooms/utility.yaml
Labels: none

Create kitchen folder and moved meater into folder.
  packages/rooms/kitchen/kitchen.yaml
  packages/rooms/kitchen/meater.yaml
Labels: none

Moved Sleep as Android to bedroom package folder.
  packages/rooms/bedroom/sleep_as_android.yaml
Labels: none

Moved steam to the office package.
  packages/rooms/office/steam.yaml
Labels: none

Added another occupqncy sensor.
  packages/rooms/living_room.yaml
Labels: none

Added step permissions.
  .github/workflows/labeler.yml
Labels: ci

.github/labeler.yml:

ci:
  - ".github/**"

docs:
  - "**/*.md"

custom-components:
  - "custom_components/**"

esphome:
  - "esphome/**"

frontend:
  - "automations.yaml"
  - "scripts.yaml"
  - "scenes.yaml"
